$primary-color: #272727;
$secondary-color: #fa278f;
$accent-color: #ff652f;
$text-color: #fff;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$mobile: 767px;

$limits: (
    "large": 1199px,
    "medium": 991px,
    "small": 767px
);