* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  padding-top: 40vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url(../img/model-1.jpg);
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/model-1.jpg);
  background-size: cover;
  background-position: center top;
}

.home h1 {
  font-size: 4.2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}

.home h1 span {
  color: #ff652f;
  font-weight: 700;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn span {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn span::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn span::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn span.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background-color: transparent;
}

.menu-btn span.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn span.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: .98;
  visibility: hidden;
}

nav.open {
  visibility: visible;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #272727;
  list-style: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav ul.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav ul li {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav ul li.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav ul li.active > a {
  color: #ff652f;
}

nav ul li a {
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-weight: 300;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav ul li a:hover {
  color: #ff652f;
}

nav ul li:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

nav ul li:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

nav ul li:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

nav ul li:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

body {
  background-color: #272727;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

/******************
header
******************/
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

/******************
header
******************/
main {
  height: 100%;
  width: 100%;
}

main div {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main div a {
  padding: 0.4rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main div a:hover {
  color: #ff652f;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: left;
  padding: 1rem;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */