.contact {
    height: 100vh;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgba($primary-color, .9),rgba($primary-color, .3)), url(../img/model-1.jpg);
    background-size: cover;
    background-position: center top;
    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
        span {
            color: $secondary-color;
            display: block;
        }
    }
    .social-icons {
        position: initial;
        margin-top: 2rem;
    }
}